name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: sbt "onFailure Test/compile" "+ Test/compile"
    - run: sbt
           "scalafmtCheck"
           "scalafmtCheckAll"
           "+test"
           "+core/publishLocal"
           SetScala212
           "tests/scripted"
