name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v6
    - run: sbt "onFailure Test/compile" "+ Test/compile"
    - run: sbt
           "scalafmtCheck"
           "scalafmtCheckAll"
           "+test"
           "+core/publishLocal"
           "++2.12.12"
           "tests/scripted"
